@media screen and (min-width: 990px) {
  main {
    font-size: 1rem;
  }

  ul {
    max-width: 1030px;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .hero {
    margin: 4rem;
  }
  article.room {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 4rem 4rem 4rem;
  }

  .room-wrapper {
    width: 60%;
    height: auto;
  }

  .calendar-wrapper {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-right: 4rem;
  }

}
