* {
  box-sizing: border-box;
}

:root {
  /* Colors */  
  --bg-color: rgb(255, 225, 225);

  /* Fonts */
  --main-font: 'Inter';
  --main-font-color: rgb(0, 0, 87);
}

@font-face {
  font-family: 'Inter';
  src: url('/Yrgopelago/fonts/Inter-Regular.woff2') format('woff2'),
      url('/Yrgopelago/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('Yrgopelago/fonts/Inter-Bold.woff2') format('woff2'),
      url('Yrgopelago/fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--bg-color);
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin: 0;
}

main {
  width: 100%;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.hero {
  width:100%;
  margin-bottom: 5%;
}

.hero img {
  object-fit: cover;
  margin: 0rem 4rem 0rem 4rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 10rem 0rem 10rem 0rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

h3 {
  text-align: center;
}

div h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

header {
  color: rgb(0, 0, 87);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  justify-content: center;
  align-items: center;
}

/* NAV */
nav {
  background-color: var(--bg-color);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav a {
  color: rgb(0, 0, 87);
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* ROOMS */
.rooms {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.room {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  margin: auto;
  align-items: center;
  margin-bottom: 10rem;
}
.room-wrapper {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 4rem;
}
.room-details {
  /* border: 1px solid black; */
  font-weight: 800;
  text-align: center;
}
.room-img {
  max-width: 100%;
  height: auto;
}

/* CALENDAR */
.vacancies {
  width: 100%;
  display: flex;
  justify-content: center;
}

.calendar-wrapper {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

th {
  font-size: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}


.day {
  border: 0.1rem solid var(--main-font-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 50%;
}

/* .booked, */
.mask-start,
.mask{
  background-color: var(--main-font-color);;
  color: white;
}

tbody {
  width: 100%;
  height: auto;
}

table.calendar {
  border-spacing: 0.5rem;
  margin: auto;
}

/* FORM */
.booking-form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin: auto;
}

input,
button,
select.form-input {
  width: 80%;
  height: 4rem;
  font-size: 1rem;
}

label {
  margin-top: 1rem;
}

button {
  background-color: var(--main-font-color);
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 40px;
}

/* DISPLAYS RESPONSE TO BOOKING */
.check-input {
  width: 40rem;
  height: 40rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 5%;
  margin-bottom: 2rem;
}

span {
  width: 20rem;
  font-size: 1rem;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
  width: 50%;
  margin: 40px auto 0 auto;
}

.admin-link {
  font-family: var(--main-font);
  color: black;
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  display: inline;
  border: 1px solid black;
  width: 200px;
  margin: 15px auto 0 auto;
  text-align: center;
}

.admin-link:visited {
  color: black;
}

.admin-login {
  width: 50%;
  margin-top: 50px;
}

.admin-login button {
  margin-top: 20px;
  cursor: pointer;
}

.booking-price-section, .feature-section {
  width: 50%;
  margin: auto;
}

.booking-price-section h2, .feature-section h2 {
  margin-top: 50px;
}

.booking-price-section button, .feature-section button {
  margin-top: 40px;
  cursor: pointer;
}

.feature-section button {
  margin-bottom: 300px;
}

.sign-out {
  margin: 20px auto 0 auto;
  padding: 10px;
  color: var(--main-font-color);
  background-color: var(--bg-color);
  font-size: 10px;
  outline: 1px solid var(--main-font-color);
  text-decoration: none;
}

.sign-out:hover {
  color: var(--bg-color);
  background-color: var(--main-font-color);
}

.admin-message {
  margin: auto;
  padding: 20px;
  font-family: var(--main-font);
}

.features {
  display: flex;
  justify-content: center
}

.feature {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0 20px 50px 0;
  width: 150px;
}