* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
}

main {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 2rem;
}
.welcoming {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

p {
  font-size: 1rem;
}

.room-details {
  font-weight: 800;
  text-align: center;
}

article.room {
  width: 100%;
  height: auto;
  margin: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.hero-image {
align-items: center;
}

.rooms {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.room-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.room-img {
  max-width: 100%;
  height: auto;
}

.booking-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* FORM */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin: auto;
}

input,
button,
select.form-input {
  width: 80%;
  height: 4rem;
  font-size: 1rem;
}

label {
  margin-top: 1rem;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 40px;
}
/* CALENDAR */
.calendar-wrapper {

}

th {
  font-size: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}


.day {
  border: 0.1rem solid black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 50%;
}

.booked,
.mask,
.mask-end {
  background-color: rgb(0, 0, 0);
  color: white;
}

tbody {
  width: 100%;
  height: auto;
}

table.calendar {
  border-spacing: 0.5rem;
  margin: 0;
}

.availability {
  width: 50rem;
  height: 50rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 20%;
}